p {
    font-weight:lighter;
    font-family: 'Courier New';
    font-style: normal;
    color: blanchedalmond;
}
body {
    background-color: black;
    text-align: center;
}
h1 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}
 